@font-face {
	font-family: 'Rubik-Regular';
	src: url('fonts/Rubik-Regular.eot');
    src: local('☺'),
     url('fonts/Rubik-Regular.woff') format('woff'),
     url('fonts/Rubik-Regular.ttf') format('truetype'),
     url('fonts/Rubik-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik-Medium';
	src: url('fonts/Rubik-Medium.eot');
    src: local('☺'), url('fonts/Rubik-Medium.woff') format('woff'),
     url('fonts/Rubik-Medium.ttf') format('truetype'),
     url('fonts/Rubik-Medium.svg') format('svg');
	font-weight: normal;
    font-style: normal;}
    body
    {
       margin:0;
    
    }
    
    .contain
    {
    
       width:1170px;
       height:500px;
        background-color: #FFFFFF;
        margin: 115px 375px 98px 375px;
        padding: 0%;
    }


    h1{
        font-family: 'Rubik-Medium',sans-serif ;
        font-size: 2rem;
        line-height: 2.7rem;
        color: #2E2E2E;
     }


     header p
     {
         font-family: 'Rubik-Regular',sans-serif;
         font-size: 1.06rem;
         color:#5E5E5E;
         line-height: 2rem;
    }

    #top-header /*pour l'espace sous le header du h1*/
    {
    margin-bottom:98px;
    }


   .centre-texte
    {
        text-align: center;
    }


    .flexbox
    {
        display: flex;
        justify-content: space-between;
    }
    .flex-article
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .titre-article
    {
        font-family:'Rubik-Medium',sans-serif ;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: #2E2E2E;
    }


    .texte-article
    {
        font-family:'Rubik-Regular',sans-serif;
        font-size: 1rem;
        line-height: 1.875rem;
        color: #5E5E5E;
    }

    .fresh-article
    {
        border-radius: 15px;
        box-shadow: 10px 10px 50px #F2F2F2;
        
       
    }
    .contain-article
    {
    
    width: 270px;
    height: 290px;
    }
    .marge-logos
    {
        margin-top:40px;
    }



    /*/***media queries*/
    /*tablette*/
    @media screen and (min-width:768px) and (max-width:1023px)
    {
    
    .contain{
    width:min-content;
      

    }
    section{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    }

    main header p {
        font-size:100%;
        overflow: auto;

    }

}

@media screen and (max-width:767px)
{
    main{
        width:40%;
        height: auto;
    }
    .contain{
        width:min-content;
          
    
        }
        section{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    
        }
    

        }